:root {
  /* sizes */
  --border-width: 4px;
  --cubes-amount: 9;

  /* colors */
  --main-color: hsl(0, 0%, 76%);
  --highlight: white;
  --shadow: #999;
  --border-color: #7b7b7b;
}
.style-pop-out {
  border-width: var(--border-width);
  border-style: solid;
  border-right-color: var(--shadow);
  border-bottom-color: var(--shadow);
  border-left-color: var(--highlight);
  border-top-color: var(--highlight);
}

.style-pop-in {
  border-width: var(--border-width);
  border-style: solid;
  border-right-color: var(--highlight);
  border-bottom-color: var(--highlight);
  border-left-color: var(--shadow);
  border-top-color: var(--shadow);
}
